<style>
    .print-format table, .print-format tr,
    .print-format td, .print-format div, .print-format p {
        font-size: 8pt;
        font-family: Monospace;
        line-height: 200%;
        vertical-align: middle;
    }
    @media screen {
        .print-format {
            width: 80mm;
            padding: 0.25in;
            min-height: 130mm;
        }
    }
    @page {
        size: '80mm 80mm';
    }
    .sf-header {
        font-size: 12pt !important;
        font-weight: bold;
    }
    .sf-borderless td {
        border: none !important;
    }
    .sf-paddingless td {
        padding: 0 !important;
    }
    .sf-table {
        margin-top: 0;
    }
    .sf-footer {
        font-size: 12pt !important;
        font-weight: bold;
    }
    .sf-paddingless-bottom td {
        padding-bottom: 0 !important;
    }
    .sf-paddingless-top td {
        padding-top: 0 !important;
    }
</style>