<style>
    .print-format table, .print-format tr,
    .print-format td, .print-format div, .print-format p {
        font-size: 9pt;
        font-family: Arial, sans-serif;
        line-height: 150%;
        vertical-align: middle;
    }
    @media screen {
        .print-format {
            width: 80mm;
            padding-top: 10mm;
            padding-left: 10mm;
            padding-right: 10mm;
            min-height: 130mm;
        }
    }
    @page {
        size: '80mm 80mm';
    }
    .sf-header {
        letter-spacing: 0.75mm;
        font-size: 12pt !important;
        font-weight: bold;
    }
    .sf-big-text {
        font-size: 12pt !important;
        font-weight: bold;
    }
    .sf-header-recipient {
        margin-top: 1mm;
    }
    .sf-borderless td {
        border: none !important;
    }
    .sf-paddingless td {
        padding: 0 !important;
    }
    .sf-table {
        margin-top: 2.5mm;
        margin-bottom: 0;
    }
    .sf-footer {
        font-size: 12pt !important;
        font-weight: bold;
    }
    .sf-paddingless-bottom td {
        padding-bottom: 0 !important;
    }
    .sf-paddingless-top td {
        padding-top: 0 !important;
    }
    .sf-row > td {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .sf-row.sf-row-extra > td {
        padding-left: 7.5mm !important;
    }
</style>