<main>
    <div class="text-center">FLORIST DOCKET</div>
    <div>
        <div>---------------------------------------</div>
        <div class="text-center">Order: {{ doc.name }} {{ doc.transaction_date }}</div>
        <div>---------------------------------------</div>
        <div class="text-center">
            <div class="sf-header">Collection Order</div>
            <div>Ordered By: {{ doc.customer_name }}</div>
            <div>Contact: +XXX XXXX XXXX</div>
            <div>Pick Up: {{ doc.delivery_date }} {{ doc.sf_delivery_time }}</div>
        </div>
        <div>---------------------------------------</div>
    </div>
    <div>
        <table class="table table-condensed sf-table sf-borderless">
            {%- for item in doc.items -%}
            <tr class="sf-paddingless">
                <td colspan="2">Item {{ item.idx }}:</td>
            </tr>
            <tr>
                <td>{{ item.qty|int }} {{ item.description }}</td>
                <td class="text-right">{{ frappe.utils.fmt_money(item.rate) }}</td>
            </tr>
            {%- endfor -%}
        </table>
    </div>
    <div class="text-center sf-footer">****ORDER UNPAID****</div>
</main>